#column_tree {
    width: auto;
    min-width: 20%;
    max-width: 25%;
    height: 100%;
    dock: left;
}

#main_container {
    width: 1fr;
    height: 100%;
    min-width: 60%;
}

DataTable {
    height: 1fr;
}

DataTable > .datatable--cursor {
    background: $accent;
    color: $text;
}

#details_header {
    height: 5%;
    padding: 1 2;
}

#filter_container {
    height: auto;
    padding: 1 2;
}

#global_filter_info {
    height: auto;
    padding: 1 2;
    color: $accent;
}

#filter_input {
    width: 70%;
}

#apply_filter, #clear_filters {
    width: 15%;
}

#log_container {
    height: 18%;
    dock: bottom;
    border: solid $accent;
    border-title-align: center;
}

#log {
    height: 100%;
    border: none;
    padding: 0 1;
}
