[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "langchain-noctis"
version = "0.0.1b1"
description = "An integration package connecting Noctis API and LangChain"
authors = ["Noctis Team <support@noctis.io>"]
readme = "README.md"
repository = "https://github.com/NoctisNet/langchain-noctis"
license = "MIT"
keywords = ["langchain", "noctis", "domain", "dns", "security", "ai", "retriever", "llm", "tool"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Telecommunications Industry",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.9",
    "Topic :: Security",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.mypy]
disallow_untyped_defs = "True"

[tool.poetry.urls]
"HomePage" = "https://www.noctisnet.com/"
"Source Code" = "https://github.com/NoctisNet/langchain-noctis"
"Documentation" = "https://github.com/NoctisNet/langchain-noctis/blob/main/architecture/README.md"
"Bug Tracker" = "https://github.com/NoctisNet/langchain-noctis/issues"
"Release Notes" = "https://github.com/NoctisNet/langchain-noctis/releases"
"Changelog" = "https://github.com/NoctisNet/langchain-noctis/CHANGELOG.md"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
langchain-core = "^0.3.51"
noctis_sdk = "^0.0.3"

[tool.ruff.lint]
select = ["E", "F", "I", "T201"]

[tool.coverage.run]
omit = ["tests/*"]

[tool.pytest.ini_options]
addopts = "--strict-markers --strict-config --durations=5"
markers = [
    "compile: mark placeholder test used to compile integration tests without running them",
]
asyncio_mode = "auto"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.codespell]
optional = true

[tool.poetry.group.test_integration]
optional = true

[tool.poetry.group.lint]
optional = true

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]

[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"
pytest-asyncio = "^0.23.2"
pytest-socket = "^0.7.0"
pytest-watcher = "^0.3.4"
langchain-tests = "0.3.5"

[tool.poetry.group.codespell.dependencies]
codespell = "^2.2.6"

[tool.poetry.group.test_integration.dependencies]
langchain-openai = "^0.3.0"

[tool.poetry.group.lint.dependencies]
ruff = "^0.5"

[tool.poetry.group.typing.dependencies]
mypy = "^1.10"
