[build-system]
requires = ["setuptools>=70.0"]
build-backend = "setuptools.build_meta"

[project]
name = "subvortex-miner"
version = "0.0.1-alpha.3"
description = "SubVortex Miner"
readme = "README.md"
dynamic = ["dependencies"]
license = "MIT"
authors = [
  { name = "SubVortex", email = "subvortex.bt@gmail.com" }
]
maintainers = [
  { name = "Eclipse Vortex", email = "eclipse.vortex.bt@gmail.com" },
]

[tool.flit.metadata]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["."]

[tool.setuptools.package-dir]
subvortex_miner = "subvortex_miner"
