@font-face {
    font-family: 'Averia Serif Libre';
    src: url('./fonts/averiaseriflibre-light.woff2') format('woff2'),
         url('./fonts/averiaseriflibre-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Averia Libre';
    src: url('./fonts/averialibre-bold.woff2') format('woff2'),
         url('./fonts/averialibre-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
